@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");
@font-face {
  font-family: "Playkidz";
  src: url("Playkidz.ttf.woff") format("woff"), url("Playkidz.ttf.svg#Playkidz") format("svg"), url("Playkidz.ttf.eot"), url("Playkidz.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #f7f7f7;
  font-family: "Oxygen", sans-serif;
}

.header {
  background-image: url("./../img/ressources/Group 59.png");
  background-position: center center;
  background-size: 100% 100%;
}

.header nav {
  z-index: 1000;
  width: 100%;
  padding-left: 10%;
  position: fixed;
  padding-right: 10%;
  margin-bottom: 0;
}

.header nav li {
  margin-right: 70%;
}

.header #scroll.active {
  background-color: #b41023;
  -webkit-box-shadow: 1px 1px 8px black;
          box-shadow: 1px 1px 8px black;
}

.header .navbar-custom .nav-item.active .nav-link,
.header .navbar-custom .nav-item:hover .nav-link {
  color: #ffffff;
}

.header .navbar-custom .navbar-nav .nav-link {
  color: white;
  padding: 1rem 1rem;
  font-weight: bold;
  font-size: 20px;
  font-family: "Oxygen", sans-serif;
}

.header .navbar-custom .navbar-nav .nav-link:hover {
  background-color: white;
  border-radius: 30px;
  color: #b20f22;
}

.header .navbar-custom .navbar-brand,
.header .navbar-custom .navbar-text {
  color: rgba(255, 255, 255, 0.8);
}

.header .navbar-toggler {
  border: none;
}

.header :focus {
  border: none;
}

.header .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.header .content {
  padding-top: 10%;
  padding-bottom: 35%;
  color: white;
}

.header .content h1 {
  font-size: 65px;
  font-weight: bold;
}

.header .content p {
  width: 90%;
}

.header .content button {
  background-color: white;
  border-radius: 30px;
  color: #b20f22;
  font-weight: bold;
  font-size: 24px;
  border: none;
  padding: 10px 25px;
}

#outer {
  width: 550px;
  border-radius: 100px;
  overflow: hidden;
  position: relative;
}

.video {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  border-radius: 100px;
  opacity: 1;
}

/*=============================================
=            Header Below one area            =
=============================================*/
.header-one {
  margin-top: 7%;
}

.header-one h1 {
  font-weight: bold;
  color: #eb3042;
  font-size: 38px;
}

.header-one button {
  background-color: #b20f22;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 30px;
  padding: 8px 25px;
}

.header-one p {
  margin: 18px -10px;
  color: #262626;
  font-size: 18px;
}

/*=============================================
=            header second area            =
=============================================*/
.header-second {
  margin-top: 10%;
}

.header-second h1 {
  font-weight: bold;
  color: #eb3042;
  font-size: 38px;
}

.header-second p {
  width: 70%;
  text-align: center;
  margin: auto;
  font-size: 18px;
  padding: 20px 0;
}

.header-second .leftarrow {
  position: absolute;
  z-index: -10;
  left: -10px;
  top: -25px;
}

.header-second .leftarrow1 {
  position: absolute;
  z-index: -10;
  left: -30px;
  bottom: 23px;
}

.header-second .imgleft {
  margin-left: -100px;
}

.header-second .imgright {
  margin-right: -100px;
}

.header-second .rightarrow {
  position: absolute;
  z-index: -10;
  right: -10px;
  top: -25px;
}

.header-second .rightarrow1 {
  position: absolute;
  z-index: -10;
  right: -30px;
  bottom: 10px;
}

.header-second .left1 {
  position: absolute;
  top: 80px;
  left: -50px;
  width: 90px;
  font-family: "Playkidz";
  font-weight: bold;
  font-size: 24px;
  -webkit-transform: rotate(13deg);
          transform: rotate(13deg);
}

.header-second .left2 {
  position: absolute;
  bottom: 120px;
  left: -80px;
  width: 90px;
  font-family: "Playkidz";
  font-weight: bold;
  font-size: 24px;
  -webkit-transform: rotate(353deg);
          transform: rotate(353deg);
}

.header-second .right1 {
  position: absolute;
  top: 80px;
  right: -50px;
  width: 90px;
  font-family: "Playkidz";
  font-weight: bold;
  font-size: 24px;
  -webkit-transform: rotate(-13deg);
          transform: rotate(-13deg);
}

.header-second .right2 {
  position: absolute;
  bottom: 120px;
  right: -80px;
  width: 90px;
  font-family: "Playkidz";
  font-weight: bold;
  font-size: 24px;
  -webkit-transform: rotate(-353deg);
          transform: rotate(-353deg);
}

/*=============================================
=            centre yellow area            =
=============================================*/
.centre-area {
  background-image: url("./../img/background/page04-05.png");
  background-position: center center;
  background-size: 100% 100%;
  padding-bottom: 6%;
  padding-left: 1%;
}

.centre-area .man {
  width: 30%;
  position: absolute;
  margin-top: -21%;
  margin-left: -15%;
}

.centre-area h1 {
  color: #ad7f01;
  padding-top: 200px;
  padding-bottom: 30px;
  font-weight: bold;
}

.centre-area ul {
  list-style: none outside none;
  padding-left: 0;
  padding-right: 0;
  margin: 0;
}

.centre-area .demo {
  width: 100%;
}

.centre-area .demo .item {
  margin-bottom: 60px;
}

.centre-area .content-slider li {
  text-align: center;
  color: #fff;
  margin: 0;
  height: 300px;
}

.centre-area .content-slider li .slide-con {
  background-color: white;
  color: #000;
  width: 98%;
  position: relative;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 6px #eeeded;
  box-shadow: 0 0 6px #eeeded;
  padding: 6%;
}

.centre-area .content-slider li .slide-con h3 {
  background-color: white;
  color: #003e6d;
  width: 98%;
  height: 100%;
  border-radius: 15px;
}

.centre-area .content-slider li .slide-con .fa-star {
  color: #ffb600;
  margin: 0 0.5%;
}

.centre-area .logos-area {
  background-image: url("./../img/ressources/bb.jpg");
  background-position: center center;
  background-size: 100% 100%;
  width: 100%;
  height: 400px;
}

/*=============================================
=            footer second area              =
=============================================*/
.footer-second {
  margin-top: 6%;
  padding-bottom: 5%;
}

.footer-second .right {
  margin: 10% 0;
}

.footer-second h3 {
  color: #ad7f01;
  font-family: "Playkidz";
  font-size: 40px;
}

.footer-second p {
  font-size: 14px;
}

.footer-second .logo {
  margin-top: 40px;
  margin-bottom: 60px;
}

.footer-second .sparate {
  height: 4px;
  display: inline-block;
  width: 20%;
  margin-right: 10px;
  margin-left: 10px;
  background-color: black;
}

/*=============================================
=            foot above first area            =
=============================================*/
.footer-top {
  margin-top: 7%;
  margin-bottom: 200px;
}

.footer-top h1 {
  color: #eb3042;
  font-size: 4rem;
  font-weight: bold;
}

.footer-top p {
  color: #7a7979;
}

.footer-top .logo {
  margin: 20px;
}

.footer-top .ilogo {
  margin-left: 20px;
}

.footer-top .email input {
  width: 70%;
  border: 1px solid black;
  border-radius: 30px;
  padding: 7px 10px;
  color: #7a7979;
}

.footer-top .email :focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.footer-top .email .fa {
  color: #eb3042;
  position: absolute;
  font-size: 30px;
  right: 33%;
  padding-top: 5px;
}

/*=============================================
=            footer area css code            =
=============================================*/
.footer {
  background-image: url("./../img/socials.png");
  background-position: center center;
  background-size: 100% 100%;
  color: white;
}

.footer .content {
  padding-top: 4%;
  padding-bottom: 9%;
}

.footer h2 {
  font-size: 40px;
  font-weight: bold;
}

.footer .logo {
  width: 65%;
  margin-top: -13%;
}

.footer p {
  font-size: 16px;
  color: #eeeeee;
  width: 100%;
  padding: 3% 0;
}

.footer a {
  text-decoration: none;
  color: #eeeeee;
  font-size: 25px;
}

.footer li {
  list-style-type: none;
  margin: 4px 0;
}

.footer b {
  font-size: 28px;
  font-family: "Oxygen", sans-serif;
}

.footer b .line {
  height: 1px;
  background-color: white;
  width: 60%;
  opacity: 0.5;
}

.footer .social {
  margin-top: 45px;
  margin-bottom: 70px;
}

.footer .f {
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

.footer .t {
  -webkit-transform: rotate(13deg);
          transform: rotate(13deg);
}

.footer .fa {
  font-size: 90px;
  margin: 15px;
}

.footer .footend {
  background-color: #b20f22;
  padding-top: 20px;
  font-size: 18px;
  padding-bottom: 45px;
  color: #eeeeee;
}

.mobile-second {
  display: none;
}

.mobile-view {
  display: none;
}
.mobile-view1
{
  display: none;
}

/*=====  End of footer area  ======*/
@media (max-width: 680px) {
  nav {
    background-color: #c71c2f;
  }
  .mobile-view1
  {
    display: inline-block;
    text-align: center;
  }
  .footer-top h1 {
    font-size: 50px !important;
  }
  .header-second {
    display: none;
  }
  .man {
    display: none;
  }
 .mycard
 {
   font-size: 10px !important;
 }
 .mycard button
 {
   font-size: 10px !important;
 }
  .mobile-second {
    text-align: center;
    display: block;
    margin-top: 30px;
  }
  .mobile-second h1 {
    color: #eb3042;
    font-size: 38px;
    margin-top: 20px;
    font-weight: bold;
    margin-bottom: 4px;
  }
  .mobile-second p {
    font-size: 16px;
    padding: 3% 0;
  }
  .mobile-second .mycard {
    background-color: #c41b2d;
    font-size: 16px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: white;
    font-weight: bold;
    padding: 15px;
    margin: 10px;
  }
  .mobile-second .mycard button {
    background-color: white;
    margin-top: 6px;
    font-size: 12px;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    color: #c41b2d;
    padding: 8px 15px;
  }
  .header .navbar-brand {
    display: none;
  }
  .header .header-content {
    display: none;
  }
  .header nav .navbar-toggler {
    margin-left: -10%;
  }
  .mobile-view {
    display: block;
    position: fixed;
    right: 6px;
    top: 1px;
  }
  .centre-area {
    padding-top: -500px !important;
  }
  .header-one h1 {
    font-size: 28px;
  }
  .header nav .mobile-view h1 {
    display: inline-block;
    color: white;
    position: fixed;
    right: 40%;
    top: 9px;
    font-size: 30px;
  }
  .header nav .mobile-view button {
    background-color: white;
    border-radius: 30px;
    color: #b20f22;
    font-weight: bold;
    font-size: 16px;
    border: none;
    padding: 5px 13px;
    margin-top: 10px;
  }
  .header .mobile-view h2 {
    color: white;
    font-size: 40px;
    font-weight: bold;
    margin: 7% 0;
  }
  .sparate {
    width: 15% !important;
  }
  p {
    text-align: justify;
    width: 100% !important;
  }
  .header-one p {
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding: 0 !important;
  }
  .logos-area {
    height: 150px !important;
  }
  .footer-center {
    text-align: center;
  }
  .footer-center b {
    text-decoration: underline;
  }
  .line {
    display: none;
  }
  #outer {
    width: 90%;
  }
  .content {
    padding-top: 25% !important;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  nav {
    background-color: #c71c2f;
  }
  .footer-top h1 {
    font-size: 50px !important;
  }
  .mobile-view1
  {
    display: inline-block;
    text-align: center;
  }
  .header-second {
    display: none;
  }
  .man {
    display: none;
  }
  .mobile-second {
    text-align: center;
    display: block;
    margin-top: 30px;
  }
  .mobile-second h1 {
    color: #eb3042;
    font-size: 38px;
    margin-top: 20px;
    font-weight: bold;
    margin-bottom: 4px;
  }
  .mobile-second p {
    font-size: 16px;
    padding: 3% 0;
  }
  .mobile-second .mycard {
    background-color: #c41b2d;
    font-size: 18px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: white;
    font-weight: bold;
    padding: 15px;
    margin: 10px;
  }
  .mobile-second .mycard button {
    background-color: white;
    margin-top: 6px;
    font-size: 14px;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    color: #c41b2d;
    padding: 8px 15px;
  }
  .header .navbar-brand {
    display: none;
  }
  .header .header-content {
    display: none;
  }
  .header nav .navbar-toggler {
    margin-left: -10%;
  }
  .mobile-view {
    display: block;
    position: fixed;
    right: 6px;
    top: 1px;
  }
  .centre-area {
    padding-top: -500px !important;
  }
  .header-one h1 {
    font-size: 28px;
  }
  .header nav .mobile-view h1 {
    display: inline-block;
    color: white;
    position: fixed;
    right: 40%;
    top: 9px;
    font-size: 30px;
  }
  .header nav .mobile-view button {
    background-color: white;
    border-radius: 30px;
    color: #b20f22;
    font-weight: bold;
    font-size: 16px;
    border: none;
    padding: 5px 13px;
    margin-top: 10px;
  }
  .header nav .mobile-view h1 {
    display: inline-block;
    color: white;
  }
  .header nav .mobile-view button {
    background-color: white;
    border-radius: 30px;
    color: #b20f22;
    font-weight: bold;
    font-size: 18px;
    border: none;
    padding: 5px 16px;
  }
  .header .mobile-view h2 {
    color: white;
    font-size: 40px;
    font-weight: bold;
    margin: 7% 0;
  }
  .sparate {
    width: 15% !important;
  }
  p {
    text-align: justify;
    width: 100% !important;
  }
  .header-one p {
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding: 0 !important;
  }
  .logos-area {
    height: 150px !important;
  }
  .footer-center {
    text-align: center;
  }
  .footer-center b {
    text-decoration: underline;
  }
  .line {
    display: none;
  }
  #outer {
    width: 400px;
  }
  .content {
    padding-left: 23%;
    padding-right: 23%;
    padding-top: 25% !important;
  }
}

/* ipad pro */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1166px) {
  .mobile-view {
    display: none;
  }
  .header .navbar-brand {
    display: inline-block;
  }
  .navbar-brand
  {
    margin-left: -70px;
  }
  
  .mobile-second p
  {
    text-align: center;
  }
  .mobile-view1
  {
    display: inline-block;
    text-align: center;
  }
  .videom
  {
    margin-right: -300px;
  }
}
/*# sourceMappingURL=style.css.map */
nav li
  {
    margin-left: -20px;

  }